<!DOCTYPE html>
<html ng-app="brewt">
  <head>
    <meta charset="utf-8">
    <title>BREWT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/conversion.js"></script>
    <script type="text/javascript" src="js/ingredients.js"></script>
    <script type="text/javascript" src="js/recipe.js"></script>
    <script type="text/javascript" src="js/ui.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/css" src="css/styles.css"></script>
  </head>

  <body>
    <script type="text/javascript" src="js/app.js"></script>

    <h1 class="title" contenteditable="true">New Recipe</h1>

    <section>

      <div class="style" ng-controller="StyleController as styleCtrl" title={{styleCtrl.getActiveStyle().description}}>
        <h2>{{styleCtrl.getActiveStyle().name}}</h2>
        <button ng-click="styleCtrl.toggleSelectActive()">Select Style</button>
        <div ng-repeat="style in styleCtrl.styles" ng-show="styleCtrl.selectActive">
          <button ng-click="styleCtrl.select($index)">{{style.name}}</button>
        </div>
      </div>


      <h2>INGREDIENT LIST</h2>

      <ol class="ingredients">
        <li class="add grain">alabaster wheat</li>
        <li class="add grain">denali amber</li>
        <li class="add grain">hollow barley</li>
        <li></li>
        <li class="add hop">summit hops</li>
        <li class="add hop">victory hops</li>
        <li class="add hop">verdigris hops</li>
        <li></li>
        <li class="add yeast">revielle yeast</li>
        <li class="add yeast">renard lambic</li>
        <li class="add yeast">resitute yeast</li>
      </ol>

    </section>

    <section>
      <h2>RECIPE</h2>

      <ol class="recipe">
      </ol>

    </section>

    <section>
      <h2>SLIDERS</h2>

      <ol class="sliders">
      </ol>

    </section>
  </body>
</html>
