<!DOCTYPE html>

<html ng-app="brewt">
  <head>
    <meta charset="utf-8">
    <title>BREWT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/conversion.js"></script>
    <script type="text/javascript" src="js/ingredients.js"></script>
    <script type="text/javascript" src="js/recipe.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <script type="text/javascript" src="js/app.js"></script>

    <h1 class="title" contenteditable="true">New Recipe</h1>

    <section id="library">
      <h2>INGREDIENTS LIBRARY</h2>
      <div ng-controller="FermentablesLibraryController as fermlib">
        <h3 ng-click="fermlib.toggleActive()">Fermentables</h3>
          <ul>
            <li ng-repeat="fermentable in fermlib.lib" ng-show="fermlib.active()" ng-click="fermlib.addFermentable($index)">{{fermentable.name}}</li>
          </ul>
      </div>

      <div ng-controller="HopsLibraryController as hopslib">
        <h3 ng-click="hopslib.toggleActive()">Hops</h3>
        <ul>
          <li ng-repeat="hops in hopslib.lib" ng-show="hopslib.active()" ng-click="hopslib.addHop($index)">{{hops.name}}</li>
        </ul>
      </div>

      <div ng-controller="YeastLibraryController as yeastlib">
        <h3 ng-click="yeastlib.toggleActive()">Yeast</h3>
        <ul>
          <li ng-repeat="yeast in yeastlib.lib"  ng-show="yeastlib.active()" ng-click="yeastlib.setYeast($index)">{{yeast.name}}</li>
        </ul>
      </div>

      <div ng-controller="MiscLibraryController as ctrl">
        <h3 ng-click="ctrl.toggleActive()">Misc</h3>
        <ul>
          <li ng-repeat="misc in ctrl.lib" ng-show="ctrl.active()" ng-click="ctrl.addMisc($index)">{{misc.name}}</li>
        </ul>
      </div>

    </section>

    <section id="recipe">
      <h2>RECIPE</h2>

      <div ng-controller="StyleController as styleCtrl" title={{styleCtrl.getActiveStyle().notes}}>
        <h3 ng-click="styleCtrl.toggleSelectActive()">Style: {{styleCtrl.getActiveStyle().name}}</h3>
        <ul>
          <li ng-repeat="style in styleCtrl.styles" ng-show="styleCtrl.selectActive" ng-click="styleCtrl.select($index)">{{style.name}}</li>
        </ul>
      </div>

      <h3>Ingredients:</h3>

      <div ng-controller="FermentablesRecipeController as fermListCtrl">
        <ul ng-show="fermListCtrl.getFermentables().length > 0">
          <li ng-repeat="ferm in fermListCtrl.getFermentables() track by $index" class="fermentable">
            {{ferm.name}}
            <button ng-click="fermListCtrl.remove($index)" class="remove-btn">×</button>
          </li>
        </ul>
      </div>

      <div ng-controller="HopsRecipeController as hopsListCtrl">
        <ul ng-show="hopsListCtrl.getHops().length > 0">
          <li ng-repeat="hops in hopsListCtrl.getHops() track by $index" class="hop">
            {{hops.name}}
            <button ng-click="hopsListCtrl.remove($index)" class="remove-btn">×</button>
          </li>
        </ul>
      </div>

      <div ng-controller="YeastRecipeController as yeastListCtrl">
        <ul ng-show="yeastListCtrl.getYeast()">
          <li class="yeast">
            {{yeastListCtrl.getYeast().name}}
            <button ng-click="yeastListCtrl.remove()" class="remove-btn">×</button>
          </li>
        </ul>
      </div>

      <div ng-controller="MiscRecipeController as miscListCtrl">
        <ul ng-show="miscListCtrl.getMiscs().length > 0">
          <li ng-repeat="misc in miscListCtrl.getMiscs() track by $index" class="misc">
            {{misc.name}}
            <button ng-click="miscListCtrl.remove($index)" class="remove-btn">×</button>
          </li>
        </ul>
      </div>

    </section>

  </body>
</html>
