@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css);
body {
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: 'Open-sans', sans-serif;
  letter-spacing: .1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.logo {
  background-color: #3fb4c6;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: #3fb4c6;
  color: #eee;
  letter-spacing: .2em;
  padding: 2em 1em;
  width: 10em;
  text-align: center;
  color: #f9f9f9;
  font-size: 2em; }

.left-menu {
  background: #3f4b56;
  width: 20em;
  position: absolute;
  top: 0;
  bottom: 0; }

.accordion {
  color: #f9f9f9;
  width: 20em; }

.accordion .section {
  width: 100%; }

.accordion .section input[type='radio']:checked + label {
  background: #5e7c88; }

.accordion .section input[type='radio']:checked + label:before {
  content: " ";
  position: absolute;
  border-left: 0.5em solid #63cdd6;
  height: 100%;
  left: 0; }

.accordion .section input[type='radio']:checked ~ .content {
  max-height: 26.3em;
  opacity: 1;
  z-index: 10;
  overflow-y: auto; }

.accordion .section label {
  position: relative;
  cursor: pointer;
  padding: 1.5em 1.5em;
  display: table;
  background: #2f3841;
  width: 100%;
  transition: background 0.3s ease-in-out;
  user-select: none; }

.accordion .section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px; }

.accordion .section label:hover {
  background: #5e7c88; }

.accordion .section label span {
  display: table-cell;
  vertical-align: middle; }

.accordion .section:last-of-type {
  border-bottom: 2px solid #2f3841; }

.accordion .section .content {
  max-height: 0;
  transition: ease 0.5s;
  opacity: 0;
  position: relative;
  overflow-y: hidden; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.accordion {
  font-size: 1em; }

.accordion .section .content {
  padding: 0 15px; }

.accordion .section input[type='radio'] {
  display: none; }

.accordion .section input[type='radio']:checked ~ .content {
  padding: 15px; }

ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none; }

ul li {
  padding: .75em; }

ul li i {
  font-size: .9em;
  width: 15px;
  margin-right: 15px; }

ul li:hover {
  cursor: pointer; }

ul li:hover i {
  color: #63cdd6; }

ul li:hover {
  color: #63cdd6; }

ul li:active i {
  color: #3fb4c6; }

ul li:active {
  color: #3fb4c6; }

i {
  color: #f9f9f9; }

i:hover {
  color: #63cdd6; }

i:active {
  color: #63cdd6; }

.fa-search, .fa-chevron-down {
  position: absolute;
  right: 2em; }
