<section>
  <div title={{styleCtrl.getSelected().description}}>
    <h3 ng-click="styleCtrl.toggleActive()">Style: {{styleCtrl.getRecipe().style.name}}</h3>
    <ul>
      <li ng-repeat="style in styleCtrl.list" ng-show="styleCtrl.selectActive" ng-click="styleCtrl.select($index)">{{style.name}}</li>
    </ul>
  </div>

  <slider prop-min=1.000
          prop-max=1.150
          style-min=styleCtrl.getRecipe().style.ogMin
          style-max=styleCtrl.getRecipe().style.ogMax
          recipe-val=styleCtrl.getRecipe().calculateOriginalGravity()>
  </slider>

  <slider prop-min=1.000
          prop-max=1.050
          style-min=styleCtrl.getRecipe().style.fgMin
          style-max=styleCtrl.getRecipe().style.fgMax
          recipe-val=styleCtrl.getRecipe().calculateFinalGravity()>
  </slider>

  <slider prop-min=0
          prop-max=15
          style-min=styleCtrl.getRecipe().style.abvMin
          style-max=styleCtrl.getRecipe().style.abvMax
          recipe-val=styleCtrl.getRecipe().calculateABV()>
  </slider>

  <slider prop-min=0
          prop-max=100
          style-min=styleCtrl.getRecipe().style.ibuMin
          style-max=styleCtrl.getRecipe().style.ibuMax
          recipe-val=styleCtrl.getRecipe().calculateBitterness()>
  </slider>

  <slider prop-min=0
          prop-max=15
          style-min=styleCtrl.getRecipe().style.colorMin
          style-max=styleCtrl.getRecipe().style.colorMax
          recipe-val=styleCtrl.getRecipe().calculateColor()>
  </slider>

  </section>